:root {
    --max-width-wrapper: 1920px;
    --max-width-container: 1240px;
    --max-width-container-secondary: 610px;
    --container-pi: 15px;
    --header-height: 65px;
    --color-01: #ffffff;
    --color-02: #c6c6c6;
    --color-03: #f78787;
    --color-04: #efda1c;
    --color-05: #01fff0;
    --color-06: #121e28;
    --color-07: #000000;
    --color-08: #2a3744;
    --color-09: #0a1117;
    --zIndex: 999;
}

@media (min-width: 768px) {
    :root {
        --header-height: 95px;
    }
}

@media (min-width: 1600px) {
    :root {
        --header-height: 125px;
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

body {
    font-family: "Montserrat";
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: var(--color-02, #c6c6c6);
    background: var(--color-09, #0a1117);
}

body.no-scroll {
    overflow: hidden;
}

.button {
    --button-height: 3.067em;
    --button-fs: 0.938rem;
    --button-font-clr: var(--color-07, #000);
    --button-bg: var(--color-04, #efda1c);
    --button-bg-hover: var(--color-01, #fff);
    width: 100%;
    min-height: var(--button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-fs);
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    color: var(--button-font-clr);
    border-radius: 12px;
    cursor: pointer;
    background: var(--button-bg);
    transition: color 0.2s linear, background 0.2s linear, border 0.2s linear;
}

@media (any-hover: hover) {
    .button:hover {
        background: var(--button-bg-hover);
    }
}

@media (min-width: 768px) {
    .button {
        --button-height: 2.5em;
        --button-fs: 1.625rem;
    }
}

@media (min-width: 1200px) {
    .button {
        --button-fs: 2rem;
    }
}

.button_secondary {
    --button-font-clr: var(--color-05, #01fff0);
    --button-font-clr-hover: var(--color-07, #000);
    --button-bg: var(--color-06, #121e28);
    --button-bg-hover: var(--color-05, #01fff0);
    --button-border-clr: var(--color-05, #01fff0);
    border: 1px solid var(--button-border-clr);
}

@media (any-hover: hover) {
    .button_secondary:hover {
        color: var(--button-font-clr-hover);
        background: var(--button-bg-hover);
    }
}

.wrapper {
    --_max-width: var(--max-width-wrapper, 1920px);
    width: 100%;
    max-width: var(--_max-width);
    min-height: 100%;
    padding: var(--header-height) 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 0;
    }
}

.container {
    --_max-width-container: var(--max-width-container, 1200px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 0 var(--_padding-inline);
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

.container-secondary {
    --_max-width-container: var(--max-width-container-secondary, 610px);
    --_padding-inline: var(--container-pi, 15px);
    margin: 0 auto;
    padding: 30px var(--_padding-inline) 80px;
    max-width: calc(var(--_max-width-container) + var(--_padding-inline) * 2);
}

@media (min-width: 768px) {
    .container-secondary {
        padding: 40px var(--_padding-inline) 100px;
    }
}

@media (min-width: 992px) {
    .container-secondary {
        padding: 50px var(--_padding-inline) 140px;
    }
}

@media (min-width: 1200px) {
    .container-secondary {
        padding: 60px var(--_padding-inline) 200px;
    }
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.background {
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.background img {
    width: 100%;
}

.title {
    padding: 30px 0 0 0;
}

@media (min-width: 768px) {
    .title {
        padding: 45px 0 0 0;
    }
}

@media (min-width: 992px) {
    .title {
        padding: 50px 0 0 0;
    }
}

@media (min-width: 1200px) {
    .title {
        padding: 60px 0 0 0;
    }
}

.title h3 {
    display: block;
    font-size: clamp(2rem, 1.596rem + 1.79vw, 3.75rem);
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
 /* 72px */
    color: var(--color-01, #fff);
}

.title span {
    margin: 0.833em 0 0 0;
    display: block;
    font-size: 0.75rem;
    text-align: center;
    color: var(--color-02, #c6c6c6);
}

@media (min-width: 768px) {
    .title span {
        margin: 1em 0 0 0;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .title span {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .title span {
        font-size: 1.25rem;
    }
}

.not-found {
    --indent-negative: calc(var(--container-pi) - var(--container-pi) * 2);
}

.not-found .container-secondary {
    padding-top: 0;
}

@media (min-width: 576px) {
    .not-found__title {
        padding: 30px 0 0 0;
    }
}

.not-found__wrapper {
    padding: 220px 0 0 0;
    position: relative;
}

@media (min-width: 768px) {
    .not-found__wrapper {
        padding: 300px 0 0 0;
    }
}

@media (min-width: 1400px) {
    .not-found__wrapper {
        padding: 450px 0 0 0;
    }
}

.not-found__image {
    display: block;
    position: absolute;
    top: 0;
    left: var(--indent-negative);
    right: var(--indent-negative);
    z-index: -1;
}

.not-found__image img {
    width: 100%;
}

@media (min-width: 576px) {
    .not-found__image {
        left: 64px;
        right: auto;
    }
}

@media (min-width: 768px) {
    .not-found__image {
        width: 1000px;
        left: -82px;
    }
}

@media (min-width: 1400px) {
    .not-found__image {
        width: 1588px;
        left: -295px;
    }
}

.header.active .header__container::after {
    opacity: 0;
}

.header.active .header__menu {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header.active .header__button-burger span {
    transform: scale3d(0, 0, 0);
}

.header.active .header__button-burger::before {
    top: calc(50% - 2px);
    transform: rotate3d(0, 0, 1, -45deg);
}

.header.active .header__button-burger::after {
    transform: rotate3d(0, 0, 1, 45deg);
    bottom: calc(50% - 2px);
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--zIndex);
    }

    .header.active .header__button-burger::before {
        top: calc(50% - 1px);
    }

    .header.active .header__button-burger::after {
        bottom: calc(50% - 1px);
    }
}

.header__container {
    min-height: var(--header-height);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header__container {
        position: relative;
    }

    .header__container::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.65);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transition: opacity 0.2s linear;
    }
}

.header__logo {
    flex: 0 0 150px;
}

.header__logo img {
    width: 100%;
}

.header__menu .header__button {
    display: none;
}

@media (max-width: 768px) {
    .header__menu {
        padding: calc(var(--header-height) + 30px) var(--container-pi) 30px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: var(--color-09, #0a1117);
        background-image: url("../images/header/dekor_01.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: cover;
        transform: translate3d(0, -101%, 0);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility, transform;
        transition-duration: 0.2s;
    }

    .header__menu .header__button {
        margin: 25px 0 0 0;
        display: flex;
    }
}

@media (max-width: 768px) {
    .header__menu-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.header__actions {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .header__actions {
        gap: 15px 30px;
    }
}

@media (min-width: 1600px) {
    .header__actions {
        gap: 15px 100px;
    }
}

.header__action,
.header__button {
    cursor: pointer;
    transition: color 0.2s linear;
}

.header__action {
    flex: 1 1 100%;
    padding: 5px 0;
    display: block;
    font-size: 0.938rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
    color: var(--color-04, #efda1c);
}

@media (any-hover: hover) {
    .header__action:hover {
        color: var(--color-01);
    }
}

@media (min-width: 768px) {
    .header__action {
        flex: 0 1 auto;
    }
}

.header__button {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 0.938rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
    color: var(--color-01, #fff);
}

.header__button svg {
    flex: 0 0 1.6em;
    width: 1.6em;
    height: 1.6em;
    margin: 0 1em 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media (any-hover: hover) {
    .header__button:hover {
        color: var(--color-04);
    }
}

@media (min-width: 768px) {
    .header__button {
        display: flex;
    }
}

.header_profile .header__container {
    position: relative;
}

.header_profile .header__menu {
    padding: calc(var(--header-height) + 30px) var(--container-pi) 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: var(--color-09, #0a1117);
    background-image: url("../images/header/dekor_01.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    transform: translate3d(0, -101%, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.2s;
}

.header_profile .header__menu .header__button {
    margin: 25px 0 0 0;
    display: flex;
}

.header_profile .header__menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header_profile .header__actions {
    gap: 0;
}

.header_profile .header__action {
    flex: 1 1 100%;
    padding: 5px 0;
}

@media (any-hover: hover) {
    .header_profile .header__action:hover {
        color: var(--color-01);
    }
}

.header_profile .header__button {
    display: none;
}

.header_profile .header__button-burger {
    display: block;
}

@media (min-width: 768px) {
    .header_profile {
        position: relative;
        z-index: var(--zIndex);
    }

    .header_profile .header__menu {
        z-index: -999;
    }

    .header_profile .header__action,
  .header_profile .header__button {
        font-size: 1.125rem;
    }
}

.header__button-burger {
    flex: 0 0 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.header__button-burger::before, .header__button-burger::after {
    content: "";
}

.header__button-burger::before,
.header__button-burger span, .header__button-burger::after {
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 2px;
    background: var(--color-04);
    position: absolute;
    left: calc(50% - 16px);
    transition: background 0.2s linear, transform 0.2s linear;
}

.header__button-burger::before {
    top: 11px;
}

.header__button-burger span {
    top: calc(50% - 1px);
}

.header__button-burger::after {
    bottom: 11px;
}

@media (any-hover: hover) {
    .header__button-burger:hover::before,
  .header__button-burger:hover span, .header__button-burger:hover::after {
        background: var(--color-01);
    }
}

@media (min-width: 768px) {
    .header__button-burger {
        display: none;
    }

    .header__button-burger::before,
  .header__button-burger span, .header__button-burger::after {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background: var(--color-04);
        transition: background 0.2s linear, transform 0.2s linear;
        position: absolute;
        left: 0;
    }

    .header__button-burger::before {
        top: 5px;
    }

    .header__button-burger span {
        top: calc(50% - 2px);
    }

    .header__button-burger::after {
        bottom: 5px;
    }
}

.footer {
    padding: 40px 0;
    border-bottom: 1px solid var(--color-08, #2a3744);
    background: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .footer {
        padding: 60px 0;
        border-bottom: 2px solid var(--color-08, #2a3744);
    }
}

@media (min-width: 992px) {
    .footer {
        padding: 80px 0;
    }
}

@media (min-width: 1400px) {
    .footer {
        padding: 100px 0;
    }
}

.footer__header {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 1200px) {
    .footer__header {
        justify-content: space-between;
        flex-direction: row;
    }
}

.footer__logo {
    max-width: 150px;
}

.footer__logo img {
    width: 100%;
}

@media (min-width: 1200px) {
    .footer__logo {
        flex: 0 0 150px;
    }
}

.footer__header-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 1200px) {
    .footer__header-group {
        align-items: flex-end;
        gap: 10px;
    }
}

.footer__contacts,
.footer__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 50px;
}

@media (min-width: 576px) {
    .footer__contacts,
  .footer__actions {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: normal;
    }
}

@media (min-width: 1200px) {
    .footer__contacts,
  .footer__actions {
        justify-content: normal;
    }
}

.footer__contacts-item {
    display: flex;
    align-items: center;
    font-size: 0.938rem;
    font-weight: 700;
    line-height: 1.4;
 /* 21px */
    text-align: center;
    color: var(--color-01, #fff);
    transition: color 0.2s linear;
}

.footer__contacts-item svg {
    flex: 0 0 1.333em;
    width: 1.333em;
    height: 1.333em;
    margin: 0 1em 0 0;
    display: block;
    fill: transparent;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media (any-hover: hover) {
    .footer__contacts-item:hover {
        color: var(--color-04, #efda1c);
    }
}

@media (min-width: 1400px) {
    .footer__actions {
        gap: 10px 100px;
    }
}

.footer__action {
    font-size: 0.938rem;
    font-weight: 700;
    line-height: 1.4;
 /* 21px */
    text-align: center;
    color: var(--color-04, #efda1c);
    cursor: pointer;
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .footer__action:hover {
        color: var(--color-01, #fff);
    }
}

.footer__row {
    display: grid;
    gap: 10px;
}

.footer__row:not(:last-child) {
    margin: 0 0 20px 0;
}

@media (min-width: 576px) {
    .footer__row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .footer__row {
        gap: 20px;
    }
}

.footer__text {
    display: block;
    font-size: 0.75rem;
    text-align: justify;
    color: var(--color-02, #c6c6c6);
}

.footer__text:not(:last-child) {
    margin: 0 0 10px 0;
}

.footer__text a {
    color: var(--color-01, #fff);
    text-decoration: underline;
}

@media (any-hover: hover) {
    .footer__text a:hover {
        text-decoration: none;
    }
}

@media (min-width: 470px) {
    .footer__text {
        text-align: left;
    }
}

.footer__label {
    margin: 0 0 0.714em 0;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.357;
 /* 19.6px */
    color: var(--color-01, #fff);
}

.index {
    position: relative;
}

.index__bg {
    display: block;
    position: absolute;
    top: calc(var(--header-height) - var(--header-height) * 2);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.index__bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.index__title {
    margin: 0 0 15px 0;
}

.index__title h2 {
    display: block;
    font-size: clamp(1.5rem, 0.981rem + 2.31vw, 3.75rem);
    font-weight: 700;
    line-height: 1.2;
 /* 72px */
    text-align: center;
    color: var(--color-04, #efda1c);
}

.index__title span {
    padding: 1.071em 0 0 0;
    display: block;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-02, #c6c6c6);
}

@media (min-width: 768px) {
    .index__title {
        margin: 0 0 20px 0;
    }

    .index__title span {
        padding: 1em 0 0 0;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .index__title {
        margin: 0 0 30px 0;
    }
}

@media (min-width: 1400px) {
    .index__title {
        margin: 0 0 40px 0;
    }

    .index__title span {
        font-size: 1.25rem;
    }
}

.index__application {
    padding: 40px 0 20px;
}

.index__application strong,
.index__application span {
    display: block;
    font-size: clamp(0.875rem, 0.615rem + 1.15vw, 2rem);
    color: var(--color-02, #c6c6c6);
}

.index__application strong {
    margin: 0 0 10px 0;
    font-weight: 700;
}

@media (min-width: 768px) {
    .index__application {
        padding: 70px 0;
    }

    .index__application strong {
        margin: 0 0 1.25em 0;
        font-weight: 700;
    }
}

@media (min-width: 992px) {
    .index__application {
        padding: 130px 0;
    }
}

@media (min-width: 1400px) {
    .index__application {
        padding: 200px 0;
    }

    .index__application .index__title {
        margin: 0 0 80px 0;
    }
}

.index__calc-bottom.calc {
    padding: 0 0 80px 0;
}

.calc {
    padding: 0 0 50px 0;
}

@media (min-width: 768px) {
    .calc {
        min-height: calc(var(--fullscreen) - var(--header-height));
    }
}

.calc__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 992px) {
    .calc__wrapper {
        flex-direction: row;
        align-items: normal;
        justify-content: space-between;
        gap: 10px;
    }
}

.calc__rest {
    max-width: 25rem;
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 576px) {
    .calc__rest {
        margin: 0;
    }
}

@media (min-width: 992px) {
    .calc__rest {
        flex: 0 1 580px;
        max-width: none;
    }
}

.calc__title {
    display: block;
    font-size: clamp(32px, 1.596rem + 1.79vw, 60px);
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-01, #fff);
}

.calc__title span {
    color: var(--color-04, #efda1c);
}

.calc__image {
    display: none;
}

@media (min-width: 576px) {
    .calc__image {
        max-width: 300px;
        margin: 10px 0 0 0;
        display: block;
    }

    .calc__image img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .calc__image {
        max-width: 580px;
    }
}

@media (min-width: 1400px) {
    .calc__image {
        margin: 40px 0 0 0;
    }
}

.calc__form {
    width: 100%;
}

.calc__form .calc__title {
    padding: 0 0 25px 0;
}

@media (min-width: 460px) {
    .calc__form {
        width: auto;
    }
}

@media (min-width: 768px) {
    .calc__form .calc__title {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .calc__form {
        flex: 0 1 610px;
    }
}

.calc__body {
    padding: 20px 15px;
    margin: 0 0 30px 0;
    display: grid;
    gap: 15px;
    border-radius: 24px;
    border: 2px solid var(--color-05, #01fff0);
    background: var(--color-06, #121e28);
}

@media (min-width: 460px) {
    .calc__body {
        max-width: 22.5rem;
    }
}

@media (min-width: 768px) {
    .calc__body {
        max-width: none;
        padding: 30px;
    }
}

@media (min-width: 992px) {
    .calc__body {
        gap: 40px;
    }
}

@media (min-width: 1400px) {
    .calc__body {
        padding: 50px;
    }
}

.calc__sublabel {
    display: block;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-02, #c6c6c6);
}

@media (min-width: 768px) {
    .calc__sublabel {
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {
    .calc__sublabel {
        font-size: 1.25rem;
    }
}

.calc__info {
    font-size: 0.75rem;
    text-align: center;
    color: var(--color-02, #c6c6c6);
}

.calc__info strong,
.calc__info span {
    font-weight: 700;
}

.calc__info strong {
    color: var(--color-05, #01fff0);
}

@media (min-width: 576px) {
    .calc__info {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .calc__info {
        font-size: 1.125rem;
    }
}

@media (min-width: 1400px) {
    .calc__info {
        font-size: 1.75rem;
        text-align: left;
    }
}

.calc__submit {
    margin: 0 0 10px 0;
}

@media (min-width: 768px) {
    .calc__submit {
        margin: 0 0 15px 0;
    }
}

.calc__range-slider {
    padding: 0 0 35px 0;
}

@media (min-width: 768px) {
    .calc__range-slider {
        padding: 0 0 50px 0;
    }
}

.calc__range {
    --height: 3px;
    --handle-size: 25px;
    --border-radius: 3px;
    padding: 0 var(--handle-size) 0 0;
}

.calc__range.noUi-target {
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--color-02, #c6c6c6);
    border: none;
    box-shadow: none;
}

.calc__range .noUi-connects {
    border-radius: var(--border-radius);
}

.calc__range .noUi-handle.noUi-handle-lower {
    width: var(--handle-size);
    height: var(--handle-size);
    border-radius: 50%;
    background: var(--color-04, #efda1c);
    top: calc(var(--height) / 2 - var(--handle-size) / 2);
    right: 0;
    transform: translate3d(var(--handle-size), 0, 0);
    border: none;
    box-shadow: none;
}

.calc__range .noUi-handle.noUi-handle-lower::before, .calc__range .noUi-handle.noUi-handle-lower::after {
    display: none;
}

.calc__range .noUi-connect {
    background: var(--color-04, #efda1c);
}

.calc__range .noUi-marker.noUi-marker-horizontal {
    display: none;
}

.calc__range .noUi-pips.noUi-pips-horizontal {
    padding: 15px 0 0 0;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.calc__range .noUi-value.noUi-value-horizontal.noUi-value-large {
    display: none;
    font-size: 0.875rem;
    color: var(--color-02, #c6c6c6);
    position: static;
    transform: none;
}

.calc__range .noUi-value.noUi-value-horizontal.noUi-value-large:nth-child(2), .calc__range .noUi-value.noUi-value-horizontal.noUi-value-large:last-child {
    display: block;
}

@media (min-width: 576px) {
    .calc__range {
        --height: 5px;
        --handle-size: 30px;
        --border-radius: 5px;
    }
}

@media (min-width: 768px) {
    .calc__range .noUi-pips.noUi-pips-horizontal {
        padding: 20px 0 0 0;
    }

    .calc__range .noUi-value.noUi-value-horizontal.noUi-value-large {
        font-size: 1.25rem;
    }
}

.calc__dates {
    display: grid;
    grid-template-columns: repeat(5, minmax(35px, 55px));
    justify-content: space-between;
    gap: 5px;
}

@media (min-width: 576px) {
    .calc__dates {
        grid-template-columns: repeat(5, minmax(40px, 65px));
    }
}

@media (min-width: 768px) {
    .calc__dates {
        grid-template-columns: repeat(5, minmax(76px, 93px));
    }
}

.calc__date {
    height: 55px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    color: var(--color-02, #c6c6c6);
    border-radius: 12px;
    border: 1px solid var(--color-02, #c6c6c6);
    background: var(--color-06, #121e28);
    transition: color 0.2s linear, border 0.2s linear;
}

.calc__date span {
    display: block;
}

@media (any-hover: hover) {
    .calc__date:hover {
        color: var(--color-05, #01fff0);
        border-color: var(--color-05, #01fff0);
    }
}

.calc__date.active {
    color: var(--color-05, #01fff0);
    border-color: var(--color-05, #01fff0);
}

@media (min-width: 576px) {
    .calc__date {
        height: 60px;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .calc__date {
        height: 88px;
        font-size: 18px;
    }
}

.get-loan {
    padding: 40px 0;
    border-top: 1px solid var(--color-08, #2a3744);
    border-bottom: 1px solid var(--color-08, #2a3744);
    background: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .get-loan {
        padding: 60px 0;
        border-top: none;
        border-bottom: 2px solid var(--color-08, #2a3744);
    }
}

@media (min-width: 992px) {
    .get-loan {
        padding: 80px 0;
    }
}

@media (min-width: 1400px) {
    .get-loan {
        padding: 130px 0;
    }
}

.get-loan__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

@media (min-width: 1200px) {
    .get-loan__items {
        gap: 20px;
    }
}

.get-loan__item {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(267deg, #b5ef1c 8.92%, #00fced 95.91%);
}

@media (min-width: 1200px) {
    .get-loan__item {
        padding: 25px;
    }
}

.get-loan__image {
    flex: 0 0 115px;
    margin: 0 10px 0 0;
}

.get-loan__image img {
    width: 100%;
}

@media (min-width: 1200px) {
    .get-loan__image {
        margin: 0 20px 0 0;
    }
}

.get-loan__info {
    font-size: 0.938rem;
    color: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .get-loan__info {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .get-loan__info {
        font-size: 1.25rem;
    }
}

.get-loan__steep {
    margin: 0 0 10px 0;
    display: block;
    font-weight: 400;
}

@media (min-width: 768px) {
    .get-loan__steep {
        margin: 0 0 15px 0;
    }
}

.get-loan__label {
    display: block;
    font-weight: 700;
}

.payment-cards {
    padding: 40px 0;
}

@media (min-width: 768px) {
    .payment-cards {
        padding: 90px 0;
    }
}

@media (min-width: 992px) {
    .payment-cards {
        padding: 130px 0;
    }
}

@media (min-width: 1400px) {
    .payment-cards {
        padding: 200px 0;
    }
}

.payment-cards__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

@media (min-width: 1200px) {
    .payment-cards__items {
        gap: 20px;
    }
}

.payment-cards__item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid var(--color-05, #01fff0);
    background: var(--color-06, #121e28);
}

.payment-cards__logo {
    flex: 0 1 80px;
}

.payment-cards__logo img {
    width: 100%;
}

@media (min-width: 576px) {
    .payment-cards__logo {
        flex: 0 1 120px;
    }
}

.features {
    padding: 40px 0;
    border-top: 1px solid var(--color-08, #2a3744);
    border-bottom: 1px solid var(--color-08, #2a3744);
    background: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .features {
        padding: 60px 0;
        border-top: none;
        border-bottom: 2px solid var(--color-08, #2a3744);
    }
}

@media (min-width: 992px) {
    .features {
        padding: 80px 0;
    }
}

@media (min-width: 1400px) {
    .features {
        padding: 130px 0;
    }
}

@media (min-width: 768px) {
    .features__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features__title span {
        max-width: 55.625rem;
    }
}

.features__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

@media (min-width: 1200px) {
    .features__items {
        gap: 20px;
    }
}

.features__item {
    padding: 20px 6px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(267deg, #b5ef1c 8.92%, #00fced 95.91%);
}

.features__image {
    flex: 0 0 115px;
    margin: 0 10px 0 0;
}

.features__image img {
    width: 100%;
}

@media (min-width: 1200px) {
    .features__image {
        margin: 0 20px 0 0;
    }
}

.features__info {
    font-size: 0.938rem;
    color: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .features__info {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .features__info {
        font-size: 1.25rem;
    }
}

.features__label {
    margin: 0 0 10px 0;
    display: block;
    font-weight: 700;
}

@media (min-width: 768px) {
    .features__label {
        margin: 0 0 15px 0;
    }
}

.features__sublabel {
    display: block;
    font-weight: 400;
}

.service-work {
    padding: 40px 0;
    border-top: 1px solid var(--color-08, #2a3744);
    border-bottom: 1px solid var(--color-08, #2a3744);
    background: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .service-work {
        padding: 0 0 90px 0;
        border: none;
        background: none;
    }
}

@media (min-width: 992px) {
    .service-work {
        padding: 0 0 130px 0;
    }
}

@media (min-width: 1400px) {
    .service-work {
        padding: 0 0 200px 0;
    }
}

@media (min-width: 1400px) {
    .service-work__title {
        margin: 0 0 80px 0;
    }
}

.service-work__list {
    margin: 0 0 30px 0;
}

@media (min-width: 768px) {
    .service-work__list {
        margin: 0 0 40px 0;
    }
}

@media (min-width: 992px) {
    .service-work__list {
        margin: 0 0 60px 0;
    }
}

@media (min-width: 1400px) {
    .service-work__list {
        margin: 0 0 80px 0;
    }
}

.service-work__list-item {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--color-02, #c6c6c6);
}

.service-work__list-item:not(:last-child) {
    margin: 0 0 0.714em 0;
}

.service-work__list-item::before {
    content: "";
    flex: 0 0 1.094em;
    width: 1.094em;
    height: 1.094em;
    margin: 0 0.625em 0 0;
    display: block;
    background-image: url("../images/service-work/icon_01.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-work__list-item a {
    color: var(--color-04, #efda1c);
}

@media (any-hover: hover) {
    .service-work__list-item a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
    .service-work__list-item {
        font-size: 1.125rem;
    }

    .service-work__list-item:not(:last-child) {
        margin: 0 0 1.25em 0;
    }
}

@media (min-width: 992px) {
    .service-work__list-item {
        font-size: 1.375rem;
    }
}

@media (min-width: 1400px) {
    .service-work__list-item {
        font-size: 2rem;
    }
}

.service-work__statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
}

@media (min-width: 576px) {
    .service-work__statistics {
        gap: 20px;
    }
}

.service-work__statistics-item {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(267deg, #b5ef1c 8.92%, #00fced 95.91%);
}

.service-work__statistics-item strong {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
 /* 72px */
    color: var(--color-07, #000);
}

.service-work__statistics-item span {
    display: block;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-07, #000);
}

@media (min-width: 768px) {
    .service-work__statistics-item strong {
        font-size: 2.375rem;
    }

    .service-work__statistics-item span {
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {
    .service-work__statistics-item strong {
        font-size: 3rem;
    }

    .service-work__statistics-item span {
        font-size: 1.375rem;
    }
}

@media (min-width: 1400px) {
    .service-work__statistics-item strong {
        font-size: 3.75rem;
    }

    .service-work__statistics-item span {
        font-size: 2rem;
    }
}

.reviews {
    --reviews-negative-mi: calc(var(--container-pi) - var(--container-pi) * 2);
    padding: 40px 0 80px;
}

@media (min-width: 768px) {
    .reviews {
        padding: 0 0 90px 0;
    }
}

@media (min-width: 992px) {
    .reviews {
        padding: 0 0 130px 0;
    }
}

@media (min-width: 1400px) {
    .reviews {
        padding: 0 0 200px 0;
    }
}

.reviews__body .swiper {
    padding: 0 var(--container-pi);
    margin: 0 var(--reviews-negative-mi);
}

.reviews__body .swiper-slide {
    height: auto;
}

@media (min-width: 1200px) {
    .reviews__body .swiper {
        padding: 0;
        margin: 0;
    }
}

.reviews__slide {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid var(--color-05, #01fff0);
    background: var(--color-06, #121e28);
}

@media (min-width: 768px) {
    .reviews__slide {
        padding: 25px;
    }
}

@media (min-width: 992px) {
    .reviews__slide {
        padding: 35px;
    }
}

.reviews__comment {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--color-01, #fff);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

@media (min-width: 576px) {
    .reviews__comment {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .reviews__comment {
        font-size: 1.375rem;
    }
}

@media (min-width: 1400px) {
    .reviews__comment {
        font-size: 2rem;
    }
}

.reviews__grade {
    margin: auto 0 0 0;
    display: flex;
    gap: 5px;
}

.reviews__star {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    display: block;
    fill: var(--color-08);
}

.reviews__star.active {
    fill: var(--color-04, #efda1c);
}

@media (min-width: 1400px) {
    .reviews__star {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
    }
}

.reviews__name {
    display: block;
    font-size: 0.75rem;
    color: var(--color-02, #c6c6c6);
}

@media (min-width: 576px) {
    .reviews__name {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    .reviews__name {
        font-size: 1.25rem;
    }
}

.reviews__swiper-control {
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.reviews__swiper-control:has(.swiper-pagination-lock) {
    margin: 0;
}

@media (min-width: 768px) {
    .reviews__swiper-control {
        margin: 25px 0 0 0;
    }
}

@media (min-width: 1200px) {
    .reviews__swiper-control {
        margin: 40px 0 0 0;
        gap: 30px;
    }
}

.reviews__swiper-prev,
.reviews__swiper-next {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.reviews__swiper-prev svg,
.reviews__swiper-next svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--color-05);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.2s linear;
}

@media (any-hover: hover) {
    .reviews__swiper-prev:hover svg,
  .reviews__swiper-next:hover svg {
        stroke: var(--color-04, #efda1c);
    }
}

.reviews__swiper-prev.swiper-button-disabled svg,
.reviews__swiper-next.swiper-button-disabled svg {
    stroke: var(--color-08);
}

@media (min-width: 768px) {
    .reviews__swiper-prev,
  .reviews__swiper-next {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
    }
}

.reviews__swiper-prev svg {
    transform: rotate(90deg);
}

.reviews__swiper-pagination {
    --swiper-pagination-color: var(--color-05);
    --swiper-pagination-bullet-size: 7px;
    --swiper-pagination-bullet-width: 7px;
    --swiper-pagination-bullet-height: 7px;
    --swiper-pagination-bullet-inactive-color: var(--color-08);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;
}

.reviews__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .reviews__swiper-pagination {
        --swiper-pagination-bullet-size: 10px;
        --swiper-pagination-bullet-width: 10px;
        --swiper-pagination-bullet-height: 10px;
        --swiper-pagination-bullet-horizontal-gap: 6px;
    }
}

.reviews__swiper-next svg {
    transform: rotate(-90deg);
}

.questions {
    padding: 0px 0 80px;
}

@media (min-width: 992px) {
    .questions {
        padding: 0 0 130px 0;
    }
}

@media (min-width: 1400px) {
    .questions {
        padding: 0 0 200px 0;
    }
}

.questions__items {
    display: grid;
    grid-template-columns: minmax(250px, 500px);
    justify-content: center;
    gap: 10px;
}

@media (min-width: 768px) {
    .questions__items {
        grid-template-columns: minmax(200px, 800px);
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .questions__items {
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    .questions__items {
        grid-template-columns: 1fr;
        justify-content: normal;
    }
}

@media (min-width: 1400px) {
    .questions__items {
        gap: 40px;
    }
}

.questions__item {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--color-02, #c6c6c6);
    background: var(--color-06, #121e28);
    transition: border 0.2s linear;
}

.questions__item.active {
    border-color: var(--color-05);
}

@media (min-width: 768px) {
    .questions__item {
        padding: 30px 70px;
    }
}

@media (min-width: 1400px) {
    .questions__item {
        padding: 50px 100px;
        border-radius: 24px;
    }
}

.questions__ac-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--color-01, #fff);
}

@media (any-hover: hover) {
    .questions__ac-button:hover .questions__icon svg {
        stroke: var(--color-05);
    }
}

.questions__ac-button.active .questions__icon svg {
    transform: scale(-1, -1);
    stroke: var(--color-05);
}

@media (min-width: 768px) {
    .questions__ac-button {
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {
    .questions__ac-button {
        font-size: 1.625rem;
    }
}

@media (min-width: 1400px) {
    .questions__ac-button {
        font-size: 2rem;
    }
}

.questions__icon {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin: 0 0 0 15px;
}

.questions__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: transparent;
    stroke: var(--color-02);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.2s linear, transform 0.2s linear;
}

@media (min-width: 992px) {
    .questions__icon {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
    }
}

.questions__ac-body {
    padding: 10px 0 0 0;
}

.questions__ac-body.active .questions__text {
    transition-delay: 0.1s;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.questions__text {
    font-size: 0.75rem;
    color: var(--color-02, #c6c6c6);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility, transform;
    transition-duration: 0.4s;
}

@media (min-width: 768px) {
    .questions__text {
        padding: 0 3.125em 0 0;
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {
    .questions__text {
        font-size: 1.625rem;
    }
}

@media (min-width: 1400px) {
    .questions__text {
        font-size: 2rem;
    }
}